<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button 
            mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">goatpi</a></div>
    <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap ="10px"class="navigation-items">
            <li><a routerLink="/goatcam" routerLinkActive="active">GoatCam</a></li>
            <li><a routerLink="/goatshow" routerLinkActive="active">Goatshow</a></li>
        </ul>
    </div> -->
</mat-toolbar>